Notifications :
{% if notificationList|length > 0 %}
    <form action="{{ mgilet_notification_generate_path('notification_mark_all_as_seen', notificationList|first.notifiableEntity) }}" method="post">
        <button type="submit">Mark all as seen</button>
    </form>
{% endif %}
<ul>
    {% for item in notificationList %}
        <li>
            <b>{{ item.notification }}</b>
            <br>
            seen : {{ item.seen }}
            <form action="{{ mgilet_notification_generate_path('notification_mark_as_seen', item.notifiableEntity, item.notification) }}"
                  method="post">
                <button type="submit">Mark as seen</button>
            </form>
            <form action="{{ mgilet_notification_generate_path('notification_mark_as_unseen', item.notifiableEntity, item.notification) }}"
                  method="post">
                <button type="submit">Mark as unseen</button>
            </form>
        </li>
    {% endfor %}
</ul>
